<div class="container-fluid">
    <div class="container mt-5">
                <div class="breadcrumb">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb  ">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
                <a class="text-dark" href="/">Inicio</a>
            </li>
            <li class="breadcrumb-item">
                <a class="text-dark" href="/libros">Libros</a>
            </li>
        </ol>
    </nav>
        </div>

    </div>
    <div class="container">
        <div class="row mb-5">
            <div class="col-6">
                {{#if libroSingle.img}}
                    <img class="img-fluid w-100"  src="/images/{{libroSingle.img}}" class="card-img" alt="{{title}}">
                {{else}}
                    <img class="img-fluid w-100"  src="/images/default.png" class="card-img" alt="{{title}}">
                {{/if}}
            </div>
            <div class="col-6">
                <h3>
                {{libroSingle.title}}
                </h3>
                <p>info
                </p>
                <div class="row">
                    <div class="col-6 h3">
                        $ {{libroSingle.year}}.-
                    </div>
                    <div class="col-6">
                        {{#if libroSingle.active}}
                            <a href="" class="btn btn-primary">Disponible</a>
                        {{else}}
                            <a href="" class="btn btn-danger">No disponble</a>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
        
            <div class="alert alert-success">
                jjjjjj
            </div>
            <div class="alert alert-success">
                eeeee
            </div>
    </div>
</div>




